.accordion-boxes-content {
	position: relative;

	.section-title::before {
		background-position:center;
	}

	.accordion-boxes {
		margin-top: 60px;
		column-gap: 20px;

		.accordion-box {
			box-shadow: 0 20px 30px 0 rgba(0,0,0,0.05);
			padding: 40px 30px 10px;
			text-align: center;
			background-color: #fff;
			margin-bottom: 20px;
			break-inside: avoid-column;
			z-index: 3;
			position: relative;

			.accordion-box_content {
				display: none;
				position: relative;
				z-index: 1;
			}

			h4 {
				font-size: 20px;
				font-weight: bold;
				margin-bottom: 20px;
				line-height: 1.5;
			}

			.trigger-accordion-box:hover {
				color: darken($green, 10%);
			}

			.trigger-accordion-box {
				color: $green;
				font-size: 14px;
				cursor: pointer;
				transition: all .23s ease-in;

				b {
					text-decoration: underline;
					font-weight: 400;
				}
				i {
					margin-left: 7px;
				}
			}
		}
	}
}


.blue-shape-background {
	background-color: $lazio-blue;
	margin: 200px 0;
	padding: 50px 0;
}
.blue-shape-background::before ,
.blue-shape-background::after {
	content: "";
	background: url(assets/images/home/blue-shape.svg) no-repeat;
	background-size: cover;
	left: 0;
	right: 0;
	width: 100%;
	position: absolute;
	height: 115px;
}
.blue-shape-background::before {
	background-position: top;
	top: -112px;
}

.blue-shape-background::after {
	background-position: bottom;
	bottom: -112px;
}

@media only screen and (min-width:1025px) {
	.accordion-boxes-content {
		.accordion-boxes {
			column-count: 3;
		}
	}
}
