.hero {
	position: relative;
	height: 80vh;

	img {
		display: block;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	.hero_inner {
		position: absolute;
		left: 0;
		top: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		display: flex;
		justify-content: center;
		padding: 95px 20px 20px;
		background-color: rgba(0,0,0,.33);

		h1 {
			max-width: 780px;
			text-align: center;
			color: #fff;
		}
	}
}

.hero::after {
	content: "";
	position: absolute;
	left: 0;
	bottom: -2px;;
	right: 0;
	height: 215px;
	background: url(assets/images/hero-bottom.svg) no-repeat;
	z-index: 3;
	background-size: cover;
}

.hero::before {
	content: "";
	position: absolute;
	bottom: 60px;
	right: 0;
    height: 240px;
    width: 151px;
	background: url(assets/images/triangle-orange.svg) no-repeat;
	z-index: 39;
	background-size: cover;
}

.hero.short-hero::after {
	background: url(assets/images/short-hero-bottom.svg) no-repeat;
	background-size: cover;
	position: absolute;
	left: 0;
	bottom: -2px;;
	right: 0;
	height: 34px;
	width: 100%;
}
.hero.short-hero {
	height: 200px;

	.hero_inner {
		padding-top: 15px;
		align-items: center;
	}
}
.hero.short-hero::before {
	bottom: 0;
	height: 130px;
	width: 90px;
}



@media only screen and (max-width:768px) {
	.hero {
		h1 {
			font-size: 33px;

		}
	}

	.hero::after {
		height: 100px!important;
	}

	body .hero::before {
		bottom: 0px;
	    right: 0;
	    height: 149px;
	    width: 103px;
	}
}
