.intro-section {
	position: relative;

	.intro-section_inner {
		max-width: 620px;
		margin: 0 auto;
		text-align: center;

		p {
			font-size: 18px;
			line-height: 1.61;
			opacity: .8;
		}
	}

	.section-title {
		margin-bottom: 30px;
	}

	.section-title::before {
		background-position: center!important;
	}
}

.intro-section::before {
	content: "";
	position: absolute;
	bottom: -80px;
	left: 0;
    height: 240px;
    width: 130px;
	background: url(assets/images/square-blue.svg) no-repeat;
	z-index: 39;
	background-size: cover;
	background-position: right;
}
