.pricing-info-section {
	position:relative;
	display: flex;
	justify-content: center;
	padding: 50px 0;
	margin: 80px 0;

	.info-card {
		border-radius: 10px;
  		background-color: #ffffff;
  		padding: 30px;
  		overflow: hidden;
  		box-shadow: 0 20px 30px 0 rgba(0,0,0,.05);

  		.age {
  			border-right: 1px dashed rgba(0, 0, 0, 0.05);
		    padding-right: 30px;
		    margin-right: 30px;
  		}

  		.pricing-info {
			p,
			.small {
				color: rgba($primary, .8);
			}
			p {
				font-size: 15px;
				margin-bottom: 15px;
			}
			.small {
				font-size: 14px;
			}

			h4 {
				font-size: 20px;
  				font-weight: 600;
  				margin-bottom: 20px;
  				line-height: 1;

  				span.price {
  					color: $blue;
  				}
			}

			hr {
				display: block;
				height: 1px;
				border-top:1px solid rgba(0, 0, 0, 0.05);
				margin-bottom: 20px;
			}
  		}
	}

}/*
.pricing-info-section::before {
	content: "";
	top: 0;
	left: 0;
	right: 0;
	background:url(assets/images/blue-shape-pricing-info.svg) no-repeat!important;
	background-size: cover!important;
	height: 600px;
    width: 100%;
    position: absolute;
    z-index: -1;
}*/

.pricing-info-section::before ,
.pricing-info-section::after {
	content: "";
	background: url(assets/images/blue-shape-pricing-info.svg) no-repeat;
	background-size: cover;
	left: 0;
	right: 0;
	width: 100%;
	position: absolute;
	height: 230px;
	z-index: -1;
}
.pricing-info-section::before {
	background-position: top;
	top: -112px;
}

.pricing-info-section::after {
	background-position: bottom;
	top: 88px;
}
