.schedules {
	.section-title::before {
		background-position: center;
	}

	.schedules-nav {
		list-style: none;
		border-bottom: 2px solid $light-grey;
		margin: 50px 0;
		font-family: 'Oduda';

		li {
			font-size: 25px;
			margin: 0 5px;
			padding: 15px 20px;
			line-height: 1;
			background-color: $light-grey;
			border-top-left-radius: 12px;
			border-top-right-radius: 12px;
			position: relative;
			bottom: -2px;
			cursor: pointer;
			transition: all .23s ease-in;
		}

		li.active,
		li:hover {
			background-color: $green;
			color: #fff;
		}
	}

	.schedule-intro {
		h5 {
			font-family: 'Oduda';
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 15px;
		}

		p {
			opacity: .8;
			font-size: 18px;
		}
	}

	.children-icons {
		align-items: flex-end;
	}


	.select-session {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		margin: 30px 0;

		.share-schedule {
			font-family: 'Oduda';
			font-size: 20px;
			font-weight: 600;
			color: $green;
			cursor: pointer;
		}

		.select-session_wrap {
			span {
				display: block;
				font-family: 'Oduda';
				font-size: 20px;
			    font-weight: 600;
			    margin-bottom: 10px;
			}


		}

	}

	.range-slider {
		width: 400px;
		margin: 30px 0;

		h5 {
			font-family: 'Oduda';
			font-size: 20px;
		}

		.irs-single,
		.irs-from,
		.irs-to {
			background: url('assets/images/range-slider-pin.svg') no-repeat!important;
			background-size: contain!important;
		    width: 36px;
		    height: 44px;
		    z-index: 1111;
		    background-position-x: right!important;
		    cursor: pointer;
		}

		.irs-single::before {
			display: none;
		}

		.irs--flat .irs-bar {
			background-color: $secondary!important;
		}

		/*.prefix__cls-1 {
			fill:#802b7c;
		}*/

		.slider {
			-webkit-appearance: none;
			  width: 100%;
			  height: 10px;
			  outline: none;
			  transition: all .23s ease-in;
			background-color: $light-grey;
		}

		.slider::-webkit-slider-thumb {
		  -webkit-appearance: none;
		  appearance: none;
		  width: 40px;
		  height: 59px;
		  border: 0;
		  background: url('assets/images/range-slider-pin.svg') no-repeat;
		  background-size: contain;
		  background-position: bottom left;
		  cursor: pointer;
		}

		.slider::-moz-range-thumb {
		  width: 45px;
		  height: 58px;
		  border: 0;
		  background: url('assets/images/range-slider-pin.svg') no-repeat;
		  cursor: pointer;
		}


	}
}

table.class {
	width: 100%;
	th {
		font-family: 'Oduda';
		font-size: 23px;
		line-height: 1.15;
        font-weight: bold;
	}

	td, th {
		 width: 150px;
		 padding: 15px;
		 text-align: center;

		 a {
		 	color: $primary;
		 	font-weight: bold;
		 	display: block;
		 }
	}

	.class-name {
		background-color: $secondary;
		color: #fff;
		text-align: left;
		width: 220px;
		position: relative;

		b {
			position: absolute;
			right: -16px;
			top: 50%;
			transform: translateY(-50%);
			font-size: 9px;
			max-width: 35px;
			text-align: center;
			background: url(assets/images/flower-badge.svg) no-repeat;
			background-size: contain;
			width: 50px;
			height: 36px;
			line-height: 1;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}

	.class-name.first {
		border-top-left-radius: 23px;
	}

	.class-name.last {
		border-bottom-left-radius: 23px;
	}
}

