header {
    position: relative;

    .btn {
        color:#fff!important;
        margin-top:0;
    }
    
    .header-top {
        background: $secondary;
        color:#fff;
        font-size: 14px;
        padding: 10px 0;
        
        a {
            color: #fff;
        }
        
        .logo {
            margin-right: 40px;
        }
        
        span {
            display: inline-block;
            margin-right: 15px;
        }
        
        .socials {
            position: relative;
            
            i {
                margin-left: 15px;
                font-size: 16px;
            }
            
            a:hover i {
                color: $primary;
            }
        }
        
        .socials::after,
        .my-account::after {
            content: "";
            display: inline-block;
            width: 1px;
            height: 12px;
            background: #fff;
            margin: 0 15px;
        }
    }
    
    
    .header-bottom {
        position: relative;
        background: #fff;
        padding: 20px 0;
        z-index: 1983;
        
        ul{
            list-style: none;         
        }
        
        ul.flex {
            justify-content: space-between;
            align-items:center;
            
            li {
                a {
                    color: $primary;
                    font-size: 16px;
                }
            }
            
            > li > a {
                font-weight: 600;
                z-index: 1983;
                position: relative;
            }
        }

        nav {
            ul {
                li.has-children::after {
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    content: "\f078";
                    display: inline-block;
                    color: $green;
                }

                li.has-children:hover > .mega-menu {
                    display:block;
                }
            }

            a:hover,
            li.active > a {
                color: $green!important;
            }
        }

        nav > ul {
            .mega-menu {
                display: none;
                position: absolute;
                left: 0;
                width: 100%;
                right: 0;
                top: 49px;
                background: #fff;
                padding-top: 23px;

                .sub-menu {
                    display: flex;
                    max-width: 1180px;
                    margin: 0 auto;

                    li {
                        a {
                            font-size: 14px;
                            display: block;
                            margin-right: 40px;
                        }
                    }
                }
            }
        }
    }
    
    .header-waves {
        position: absolute;
        left: 0;
        right: 0;
        bottom: -15px;
        z-index: 119;
        object-fit: cover;
        width: 100%;
        transition: all .23s ease-in;
    }
    .header-waves.submmenu-active {
        bottom: -40px;
    }

}


/*responsive*/
@media only screen and (min-width:1140px) {
    .desktop-hide {
        display: none!important;
    }
}
@media only screen and (max-width:1140px) {
    .mobile-hide {
        display: none!important;
    }
    .header-top {
        z-index: 2015;
        position: relative;

        .logo {
            margin: 0 auto!important;
        }
    }
    .header-top .container {
        align-items: center;
    }

    .header-bottom {
        transition: all .23s ease-in;
        position: relative;
        transform: translateY(-100%);
        height: 0;
        padding:0!important;
        overflow: hidden;

        nav {
            padding: 20px 0;
            ul {
                flex-direction: column;

                li {
                    margin: 10px 0;
                }
            }
        }
    }

    .header-bottom.menu-open {
        height: auto;
       transform: translateY(0);
    }
}



.mob-menu-bar {
    cursor: pointer;
    position: relative;

    .bar1, .bar2, .bar3 {
        width: 29px;
        height: 3px;
        margin: 8px 0;
        -webkit-transition: 0.4s;
        -o-transition: 0.4s;
        transition: 0.4s;
        background-color: #fff;
    }
}
.change {
    .bar1 {
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .bar2 {
        opacity: 0;
    }

    .bar3 {
        transform: rotate(45deg) translate(-9px, -7px);
    }
}
