.refer-friend {
	p {
		margin-bottom: 5px;
	}
	.socials {
		position: relative;

		a {
			color: #fff;
			width: 50px;
			height: 50px;
			display: inline-flex;
			align-items: center;
			justify-content: center;
			border-radius: 100%;
			margin: 10px;
			font-size: 25px;
		}

		a.facebook {
			background-color: #3b5998;
		}
		a.facebook:hover {
			background-color: lighten(#3b5998, 10%);
		}

		a.twitter {
			background-color: #55acee;
		}
		a.twitter:hover {
			background-color: lighten(#55acee, 10%);
		}

		a.instagram {
			background-color: #6a453b;
		}
		a.instagram:hover {
			background-color: lighten(#6a453b, 10%);
		}
	}

	.socials:after {
		content: "";
		position: absolute;
		top: 0;
		right: 40px;
	    height: 100%;
	    width: 15px;
		background: url(assets/images/vertical-wave-line.svg) no-repeat;
		background-size: cover;
		background-position: center;
	}
}
